#root, html, body, .main-container {
    /*height: 100%;*/
    height: calc(100% - 0px);
}

.main-container > .grid-x {
    height: calc(100% - 190px);
}

.info-box {

    /* background-color: #101010; */
    margin-bottom: 0;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    height: 150px;
}

.y-scroll {
    height: 100%;
    overflow-y: scroll;
}

.pull-down {
    position: absolute;
    bottom: 0;
}

.stats-box {
    padding-left: 20px;
    position: relative;
    height: 100%;
}


.req-table tbody tr:hover {
    cursor: pointer;
    color: #BAF0FF;
    background-color: #313131;
}

.req-zoom {

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}


.header-bar {
    background: #1b262c;
    color: white;
    height: 40px;
}
.header-bar > h4 {
    opacity: .75;
    margin-left: 20px;
}
.header-bar > h4:hover {
    opacity: 1.0;
    transition: all .25s ease-in-out;
}

.left-sidebar {
    height: 100%;
    background-color: #fbfbfc;
}


.sidebar-req {
    border-bottom: 1px solid lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.sidebar-req:hover {
    background-color: black;
    color: white;
}

.bottom-text {
    margin-top: 5px;
    opacity: .85;
}

.right-sidebar {
    padding: 20px
}

.right-sidebar > h3.sidebar-title {
    margin-bottom: 0;
}
.right-sidebar > h5.sidebar-subtitle {
    margin-top: 0;
    opacity: .75;
}

.right-sidebar > h5 > small {
    color: inherit;
}

.right-table {
}

.req-body {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;
    min-height: 1.5em;
}
.right-section {
    margin-bottom: 20px;
}

.replays-box {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}


.replay-box {
    border: 1px solid lightgray;
    height: 50px;
    background-color: pink;
}

.status-label {
    margin-left: 20px;
    color: white !important;
    font-size: inherit !important;
}

.viz-body {
    width: 100%;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;
    min-height: 1.5em;
}

.viz-body-label {
    font-weight: bold;
}

.slim-table {
    width: auto;
}
.slim-table tbody {
    background-color: inherit !important;
}
.slim-table tbody tr {
    background-color: inherit !important;
}
.slim-table tbody tr td {
    padding: 0 30px 0 0;
}


.info-tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-tables > .table-container {
    display: inline-block;
}

.small-ms {
    font-size: 0.8em;
    opacity: .7;
}

.table-no-overflow {
    table-layout: fixed;
    word-break: break-all;
}

.fade-in {
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}


.sidebar-subtitle {
    display: inline-block
}

.flex-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
